-- Run these onboarding commands inside your Cloud SQL Postgres database (e.g. docs database)
GRANT USAGE ON SCHEMA public TO "sa-cloud-run-db-user@${PROJECT_ID}.iam";
GRANT SELECT ON ALL TABLES IN SCHEMA public TO "sa-cloud-run-db-user@${PROJECT_ID}.iam";
